<ion-header>
  <ion-toolbar>
    <ion-title>Ads</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="admob.prepareInterstitial()">
    [Interstitial] Prepare
  </ion-button>

  <ion-button (click)="admob.launchInterstitial()">
    [Interstitial] Show
  </ion-button>

  <ion-button (click)="admob.prepareReward()">
    [Reward] Prepare
  </ion-button>

  <ion-button (click)="admob.launchReward()">
    [Reward] Show
  </ion-button>

  <ion-button (click)="admob.prepareBanner()">
    [Banner] Prepare
  </ion-button>

  <ion-button (click)="admob.launchBanner()">
    [Banner] Show
  </ion-button>
</ion-content>
